@import '../sass/mixin';
.mainTempleteContainer {
  height: 100vh;
  box-sizing: border-box;
  padding: 44.5px 140px;
  .bodyContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  @media screen and (max-width: $tabWidth) {
    padding: 1px 1px;
    .bodyContainer {
      grid-template-columns: 1fr;
      grid-template-rows: 90px 1fr;
    }
  }
}
