@import '../sass/mixin';
.educationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  box-shadow: 0 0.5px 1.1px rgba(0, 0, 0, 0.035), 0 4px 9px rgba(0, 0, 0, 0.07);
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  span {
    display: block;
    font-weight: bold;
  }
  .title {
    font-size: 18px;
  }
  @media screen and (max-width: $mobileWidth) {
    font-size: 12px;
    .title {
      font-size: 16px;
    }
  }
}
.technologyContainer {
  min-width: 80px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .iconContainer {
    img {
      width: 40px;
      height: 40px;
    }
  }
  span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
.projectComponent {
  box-shadow: 0 0.5px 1.1px rgba(0, 0, 0, 0.035), 0 4px 9px rgba(0, 0, 0, 0.07);
  position: relative;
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120px;
  }
  img {
    width: 80px;
    height: 80px;
  }
  span {
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
  }
}
.imageLoadingComponent {
  font-size: 80px;
  min-height: 80px;
  min-width: 80px;
  line-height: 40px;
}
.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #007cc7;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #007cc7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #007cc7;
    border-right: 3px solid #007cc7;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }
  span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #007cc7;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #007cc7;
  }
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
}
.editContainer {
  position: absolute;
  right: 0;
  top: 0;
}
.icon {
  cursor: pointer;
}
.modelContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .container {
    width: 50%;
    min-height: 200px;
    background-color: white;
    padding: 10px;
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: bold;
      }
      .iconContainer {
        width: 50px;
        display: flex;
        justify-content: space-between;
      }
    }
    .body {
      min-height: 100px;
    }
    .footer {
      margin-top: 10px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.035);
    }
    @media screen and (max-width: $mobileWidth) {
      padding: 10px;
      width: 80%;

      .heading {
        span {
          font-size: 16px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.icon {
  cursor: pointer;
}
