@import '../../sass/mixin';
.navMainContainer {
  @media screen and (max-width: $tabWidth) {
    display: flex;
    flex-direction: column;
  }
}
.navContainer {
  display: grid;
  grid-template-rows: 200px 40px 1fr;
  height: 100%;
  // links on main nav Component
  .links {
    @media screen and (max-width: $tabWidth) {
      display: none;
    }
  }
  .linkWraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  .menuToogle {
    width: 100%;
    display: none;
    cursor: pointer;
    @media screen and (max-width: $tabWidth) {
      display: block;
    }
  }
  @media screen and (max-width: $tabWidth) {
    grid-template-columns: 17% 1fr 10%;
    grid-template-rows: auto;

    align-items: center;
    height: 90px;
  }
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  .image {
    background-color: white;
    border-radius: 100px;
    object-fit: contain;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 160px;
    font-size: 80px;
  }
  span {
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .colorPalette {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media screen and (max-width: $tabWidth) {
    .image {
      border-radius: 200px;
      width: 50px;
      height: 50px;
      line-height: 60px;
      font-size: 30px;
    }
    span {
      display: none;
    }
    .colorPalette {
      display: none;
    }
  }
}
.minLinks {
  display: none;
  @media screen and (max-width: $tabWidth) {
    display: block;
    z-index: 1;
  }
}
.adminDetails {
  position: relative;
  span {
    display: block;
    text-align: center;
    letter-spacing: 3px;
    font-size: 16px;
  }
  .name {
    font-weight: bold;
    font-size: 18px;
  }
  .icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    @media screen and (max-width: $tabWidth) {
      display: none;
    }
  }
  @media screen and (max-width: $tabWidth) {
    span {
      letter-spacing: 1px;
      text-align: center;
      font-size: 14px;
    }
    :nth-child(1) {
      font-size: 18px;
    }
  }
}
.linkContainer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  font-size: 16px;
  text-decoration: none;
  padding-left: 10px;
  display: inline-block;
  @media screen and (max-width: $tabWidth) {
    width: 100%;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 16px;
    text-decoration: none;
    padding-left: 10px;
    display: inline-block;
  }
}
.socialLinksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

  .iconContainer {
    width: 55px;
    height: 55px;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    img {
      width: 40%;
      height: 40%;
    }
    .removeContainer {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      // display: flex;
      // flex-direction: column;
    }
  }
}
